*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.none{
  display: none;
}
.hide{
  display: none;
}
.main-wrapper{
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.596);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 60%;
  height: 45%;
  min-height: 350px;
  background-color: rgb(110, 29, 110);
}

.slider{
  height: 100%;
  position: relative;
}
.img-wrapper{
  width: 100%;
  height: 100%;
}
.slider img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.arrow{
  position: absolute;
  width:30px;
  height: 30px;
  line-height: 30px;
  background-color: rgba(255, 255, 255, 0.425);
  border-radius: 50%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.arrow:hover{
  background-color: rgba(255, 255, 255, 0.836);
  color: brown;
}


.arrow.up{
top: 10px;
}
.arrow.down{
  bottom: 10px;
}

.thumbs{
  display: flex;
  float: left;
  width:calc(100% / 5);
  height: 100%;
}
.thumbs img{
  width: 100%;
  height: calc(100% / 5);
  object-fit: cover;
  border: 2px solid rgb(110, 7, 110);
  cursor: pointer;
  opacity: .5;
}

.thumbs img.active{
  border: 2px solid white;
  opacity: 1;
}
